<?php
$conf['shield_pass'] = '';
$conf['shield_print'] = '';
$conf['shield_user'] = '';
$databases = array (
  'default' =>
  array (
    'default' =>
    array (
      'database' => '{{ mysql_db }}',
      'username' => '{{ mysql_user }}',
      'password' => '{{ mysql_password }}',
      'host' => 'localhost',
      'port' => '',
      'driver' => 'mysql',
      'prefix' => '',
      'charset' => 'utf8mb4',
      'collation' => 'utf8mb4_general_ci',
    ),
  ),
);

$cookie_domain = $_SERVER['HTTP_HOST'];
$base_url = '{{ schema }}://' . $_SERVER['HTTP_HOST'];

/*
* Force Caching.
*/
$conf['cache'] = FALSE;
$conf['page_compression'] = FALSE;
$conf['preprocess_css'] = FALSE;
$conf['preprocess_js'] = FALSE;

/*
* Configure the Stage File Proxy module for this environment.
*/
$conf['stage_file_proxy_origin'] = '{{ prod_domain_name }}';
$conf['stage_file_proxy_use_imagecache_root'] = TRUE;
$conf['stage_file_proxy_hotlink'] = FALSE;
$conf['stage_file_proxy_origin_dir'] = 'sites/default/files';

/*
* Set the files, private and temporary folders.
*/
$conf['file_public_path'] = 'sites/default/files';
$conf['file_private_path'] = '../files/private';
$conf['file_temporary_path'] = '../files/tmp';
