<VirtualHost *:80>
  ServerName {{ domain_name }}
  ServerAlias *.{{ domain_name }}

  DocumentRoot {{ docroot }}

  <IfModule mpm_itk_module>
    AssignUserId {{ user_name }} {{ group_name }}
  </IfModule>

  <Directory {{ docroot }}>
    Options FollowSymLinks
    AllowOverride All
    Require all granted
  </Directory>

  ErrorLog /var/www/{{ domain_name }}/logs/apache/error.log
  CustomLog /var/www/{{ domain_name }}/logs/apache/requests.log combined
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ domain_name }}
  ServerAlias *.{{ domain_name }}

  DocumentRoot {{ docroot }}

  <IfModule mpm_itk_module>
    AssignUserId {{ user_name }} {{ group_name }}
  </IfModule>

  <Directory {{ docroot }}>
    Options FollowSymLinks
    AllowOverride All
    Require all granted
  </Directory>

  ErrorLog /var/www/{{ domain_name }}/logs/apache/ssl_error.log
  CustomLog /var/www/{{ domain_name }}/logs/apache/ssl_requests.log combined

  SSLEngine on
  SSLCertificateFile /etc/apache2/ssl_certs/star_{{ ssl_filename }}.crt
  SSLCertificateKeyFile /etc/apache2/ssl_certs/star_{{ ssl_filename }}.key
</VirtualHost>
